:host {
  display: block;
  transition: background-color 0.2s ease;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    opacity: 0.8;
  }

  .task-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 44px 0 !important;
  }

  .task-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
  }

  .task-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    row-gap: 4px;
    column-gap: 16px;

    .task-content-title {
      position: relative;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: dashed;
    }

    .task-content-description {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .task-content-date {
      position: absolute;
      right: 70px;
      opacity: 0.8;
      overflow: visible;
    }
  }

  .line-through {
    text-decoration: line-through;
    opacity: 0.7;
  }

  .completed {
    opacity: 0.8;
  }
}
