.app-container {
  min-height: 100vh;
}

.app-header {
  display: flex;
  background-color: #005ca9e6;
  color: white;
  padding: 10px 20px;
}

.app-title {
  flex: 1;
  font-size: 24px;
}

.dark-mode-toggle {
  margin-left: auto;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}
