.add-task-card {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0;
  margin-bottom: 6px;
  box-shadow: var(--mat-sys-shadow);
  max-height: 42dvh;
  overflow: auto;
}

.add-task-content {
  form {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

.invalid {
  border-color: #f44336 !important;
}

.full-width {
  width: 100%;
}
