@use '@angular/material' as mat;

@include mat.theme((color: (primary: mat.$blue-palette,
      tertiary: mat.$orange-palette,
      error: mat.$red-palette,
      warning: mat.$yellow-palette,
      success: mat.$green-palette ),
    typography: Roboto,
    density: 0,
  ));


html {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  height: 100%;
  color-scheme: light;
}

.dark-theme {
  color-scheme: dark;
}

body {
  margin: 0;
  box-sizing: border-box;
}
